@model List<Location>
@{
    ViewData["Title"] = "Manage Locations";
}

<h1 class="mb-3">@ViewData["Title"]</h1>

<div class="mb-3">
    <a asp-action="Add" class="btn btn-primary">Add Location</a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back to Admin Home</a>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Location ID</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var loc in Model)
        {
            <tr>
                <td>@loc.LocationId</td>
                <td>@loc.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@loc.LocationId" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@loc.LocationId" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>